<h2> Welcome <%= @user.name  %> </h2> 

    <p> Have a nice day :)</p>

<div id="users-list">
   <%= render "users" %>
 </div>

 <div id="followees">
    <%= render "followees"%>
 </div>
  
 <div id="followers">
    <%= render "followers" %>
 </div>
    <hr>
<div id="user_actions">
  <%= link_to "Home", users_path  %> |
  <%= link_to "Edit Profile", edit_user_path(@users) %> |
  <%= link_to "Delete Profile", @user, :method => :delete, :confirm => "Are you sure you want to delete this user?" %>
</div>
